<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="https://apis.google.com/js/api:client.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/jqueryui")
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">    
</head>
<body>
    <div id="divNavBarTop" style="width:22%;float:right;"></div>
    <div id="divNavBar" class="navbar navbar-inverse navbar-fixed-top">
        <div id="divContainer" class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { Class = "homeLink", href = Url.Action("Index", "Home") })</li>
                    <li>@Html.ActionLink("Buscar", "Index", "Search") </li>
                    <li class="dropdown">
                        <div style="padding:14px 15px;cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" id="divAbout">Conócenos</div>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Términos y Condiciones", "Terms", "Home")</li>
                            <li>@Html.ActionLink("Política de Privacidad", "PrivacyPolicy", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    @if (((NegociosYContactos.Models.User)Session["UserAuthenticated"]) != null && ((NegociosYContactos.Models.User)Session["UserAuthenticated"]).IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Tu Espacio", "Index", "Admin") </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        @if (Session["Country"] != null)
                        {
                            var countryTemp = ((string)Session["Country"]).ToUpper();
                            if (countryTemp.Equals("COLOMBIA"))
                            {
                                <li><img style="float:left;margin:0.9em 0.5em 0.5em 0.5em;" id="imgCountry" src="~/Content/images/co.png" width="40" height="20" /></li>
                            }
                            else if (countryTemp.Equals("ECUADOR"))
                            {
                                <li><img style="float:left;margin:0.9em 0.5em 0.5em 0.5em;" id="imgCountry"  src="~/Content/images/ec.png" width="40" height="20" /></li>
                            }
                            else
                            {
                                <li><img style="float:left;margin:0.9em 0.5em 0.5em 0.5em;" id="imgCountry" src="" width="40" height="20" /></li>
                            }
                        }
                        else
                        {
                            <li><div id="divImgCountry" style="display:none;"><img style="float:left;margin:0.9em 0.5em 0.5em 0.5em;" id="imgCountry" src="" width="40" height="20" /></div></li>
                        }

                    @if (((NegociosYContactos.Models.User)Session["UserAuthenticated"]) != null && ((NegociosYContactos.Models.User)Session["UserAuthenticated"]).IsAuthenticated)
                    {
                        var imgUserSrc = ((NegociosYContactos.Models.User)Session["UserAuthenticated"]).UserImage;
                        var userName = ((NegociosYContactos.Models.User)Session["UserAuthenticated"]).UserName;
                        
                        if (((NegociosYContactos.Models.User)Session["UserAuthenticated"]).LoginProvider.Equals("Google"))
                        {
                             <li class="dropdown">
                                <img style="float:left;margin:0.5em 0.5em 0.5em 0.5em;" id="imgUser" src="@imgUserSrc" width="40" height="40" /><div style="float:left;margin:1em 1em 1em 1em;cursor:pointer;" id="divUserName" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">@userName</div>
                                <ul class="dropdown-menu">
                                    <li><a style="cursor:pointer;" href="#" onclick="signOutGoogle();">Cerrar Sesión</a></li>
                                    <li>@Html.ActionLink("Actualizacion de datos", "Edit", "Account")</li>
                                </ul>
                            </li>
                        }
                        if (((NegociosYContactos.Models.User)Session["UserAuthenticated"]).LoginProvider.Equals("Facebook"))
                        {
                            <li class="dropdown">
                                <img style="float:left;margin:0.5em 0.5em 0.5em 0.5em;" id="imgUser" src="@imgUserSrc" width="40" height="40" /><div style="float:left;margin:1em 1em 1em 1em;cursor:pointer;" id="divUserName" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">@userName</div>
                                <ul class="dropdown-menu">
                                    <li><a style="cursor:pointer;" href="#" onclick="signOutFacebook();">Cerrar Sesión</a></li>
                                    <li>@Html.ActionLink("Actualizacion de datos", "Edit", "Account")</li>
                                </ul>
                            </li>
                        }
                        if (((NegociosYContactos.Models.User)Session["UserAuthenticated"]).LoginProvider.Equals("Local"))
                        {
                            <li class="dropdown">
                                <div style="float:left;margin:1em 1em 1em 1em;cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" id="divUserName">¡¡Hola!! @userName</div>
                                <ul class="dropdown-menu">
                                    <li><a style="cursor:pointer;" href="#" onclick="signOutLocal();">Cerrar Sesión</a></li>
                                    <li>@Html.ActionLink("Actualizacion de datos", "Edit", "Account")</li>
                                </ul>                                
                            </li>                            
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Únete a nosotros", "Register", "Account")</li>
                        <li>@Html.ActionLink("Ya eres parte, Ingresa", "Login", "Account")</li>
                    }                    
                </ul>
            </div>
        </div>
    </div>
    @*<ul class="breadcrumb">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Buscar", "Index", "Search") </li>
        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
        @if (User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Tu Espacio", "Index", "Admin") </li>
        }
    </ul>*@
    <div id="divBody" class="container body-content" style="width:80%;">        
        <div style="border-left:0.1em groove cornflowerblue;border-right:0.1em groove cornflowerblue;">
            <div style="margin-left:4em;margin-right:4em;">
                @RenderBody()
                <hr />
                <footer style="text-align:center;">
                    <p>&copy; @DateTime.Now.Year - Negocios y Contactos es una marca registrada por <a href="#">AreSoftware SAS.</a> - Bogotá, Colombia</p>
                </footer>
            </div>
        </div>
    </div>
    <div class="social">
        <ul>
            <li><a href="http://www.facebook.com/sharer.php?u=@Url.Encode(@Request.Url.AbsoluteUri)/&t=ContactosYNegocios" target="_blank" class="icon-facebook"></a></li>
            <li><a href="http://twitter.com/share?url=@Url.Encode(@Request.Url.AbsoluteUri)&text=ContactosYNegocios" target="_blank" class="icon-twitter"></a></li>
            <li><a href="https://plus.google.com/share?url=@Url.Encode(@Request.Url.AbsoluteUri)" target="_blank" class="icon-googleplus"></a></li>
        </ul>
    </div>
    <div id="divBottom" class="navbar navbar-fixed-bottom" style="text-align:center;margin-top:0.5em;padding-top:0.5em;">
        NEGOCIOS Y CONTACTOS
        <div id="divDate"></div>
        <div id="reloj" style="font-size:20px;"></div>
    </div>  
    <div id="dialog-message-redirect" title="Información"></div>
    <div id="dialog-message" title="Información"></div>
    <div id="dialog-error" title="Error"></div>
    
    @Scripts.Render("~/bundles/bootstrap")    
    @*@Scripts.Render("~/bundles/jqueryui")*@
    @RenderSection("scripts", required: false)
</body>
</html>