@model NegociosYContactos.Models.BusinessWeb
@{
    ViewBag.Title = "Negocio";
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHZHmVjLBw-2vlBo07AflrM6l_TLD-cEw" async defer></script>
<script>
    function createMap(address) {
        // Llamar al servicio Geocoder:
        var geocoder = new google.maps.Geocoder();

        geocoder.geocode({ 'address': address }, function (results, status) {

            if (status == google.maps.GeocoderStatus.OK) {
                // Si la consulta esta OK, entonces se recuperan la longitud y latitud...
                var latLng = results[0].geometry.location;

                // ...se establecen las opciones...
                var mapOptions = {
                    center: latLng,
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                // ...se crea el mapa...
                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                // ...y finalmente se marca el mapa:
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    title: 'Rollover text'
                });
            }
            else {
                console.log("Ha ocurrido un error: " + status);
            }
        });
    }
    // Crear el mapa al cargar la ventana
    $(function () {
        var addressTemp = "@Model.Address";
        createMap(addressTemp);
    });
</script>
<script>
    function getProductOrder() {
        var divWidth = 0;
        var divHeight = 0;

        if ($(window).width() <= 760) {
            divWidth = 400;
            divHeight = 400;
        }
        else {
            divWidth = 600;
            divHeight = 600;
        }
        $('#divProductOrder').dialog({
            autoOpen: false,
            height: divHeight,
            width: divWidth,
            modal: true,
            buttons: {
                Enviar: function () {
                    $.ajax({
                        url: getHost() + 'Search/ProductOrderSave',
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            ProductId: $('img[name="imgProduct"]').attr('id'), OrderType: $('input[name="rdlProductOrder"]').val(),
                            ContactPhone: $('#txtOrderPhone').val(), ContactEmail: $('#txtOrderEmail').val()
                        }),
                        async: true,
                        processData: false,
                        cache: false,
                        success: function (data) {
                            if (data.Result)
                            {
                                $("#dialog-message").html(data.Message)
                                .dialog('open');
                            }
                        },
                        error: function (xhr, errorText) {
                            $("#dialog-message").html('En este momento no podemos procesar tu solicitud, por favor intenta más tarde.')
                                .dialog('open');
                        }
                    });
                    $('#divProductOrder').dialog('close');
                }
            },
            open: function ()
            {
                $(this).scrollTop(0);
            },
            close: function () {
                $('#divProductOrder').dialog('close');
            }
        });
        $('div[name="divProduct"]').on('click', function (evt) {
            evt.preventDefault();
            evt.stopPropagation();
            var url = getHost() + 'Search/PartialProductOrder';
            var idTemp = $(this).attr('id');
            var idBusiness = idTemp.split('_')[0];
            var idProduct = idTemp.split('_')[1];

            $.ajax({
                url: url,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    BusinessName: $('#hBusinessName').html(), BusinessId: idBusiness,
                    ProductId: idProduct
                }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    $('#divProductOrder').html(data);
                    $('#divProductOrder').dialog('open');
                },
                error: function (xhr, errorText) {
                    $("#dialog-message").html('En este momento no podemos procesar tu solicitud, por favor intenta más tarde.')
                        .dialog('open');
                }
            });
        });
    }
    $(function () {
        getProductOrder();
    });
</script>
<div id="divBusinessContent" style="@Model.Style">
    <h2 id="hBusinessName" style="text-align:center;">@Model.Name</h2>
    <div id="divBusinessSocial"></div>
    <div style="clear:both; border-top : 40px solid #5ebdb2"></div>
    <div id="divBusinessLogo" style="text-align:center;">
        <img style="max-width:80%;height:auto;" src="@Model.UrlImage" />
    </div>
    <div style="clear:both; border-top : 40px solid #5ebdb2"></div>
    <div id="divBusinessProducts" style="text-align:center;">
        @{
            string idTemplate = "{0}_{1}";
            foreach (var item in Model.Products)
            {
                string idTemp = string.Format(idTemplate, Model.Id, item.Id);
                <div id="@idTemp" name="divProduct" style="width:33%;float:left;margin-top:2em;text-align:center;cursor:pointer;">
                    <img style="max-width:80%;height:auto;" src="@item.UrlImage" /><br />
                    <label>Nombre: </label><label id="imgName">@item.Name</label><br />
                    <label>Descripción: </label><label id="imgDescription">@item.Description</label><br />
                    <label>Valor: </label><label id="imgValue">@item.Value</label><br />
                </div>
            }
        }
    </div>
    <div style="clear:both; border-top : 40px solid #5ebdb2"></div>
    <div style="height:300px;"><div id="map_canvas" style="width:100%; height:100%;"></div></div>
</div>
<div style="clear:both; border-top : 40px solid #5ebdb2"></div>
<div id="divProductOrder" style="display:none;"></div>